name: check
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: nohup Xvfb &
          echo "DISPLAY=:0" >> $GITHUB_ENV
      - run: make check
